### VARIOUS OS FILES
/.idea
.DS_Store


### CRAFT ENV FILES
/.env
/.env.*
craft
craft.bat


### CRAFT UPDATE FILES
/config/project.yaml
/vendor/*
/storage/*
/node_modules/*


### SITE MEDIA FILES
web/uploads/*
web/imager/*


### DEVELOPMENT FILES
/.ftpconfig
/comps
/gulpfile.js
/package-lock.json
/package.json
