{% extends 'layouts/default' %}

{% block main %}

  <a href="/" class="logo">Hi. I'm Brian.</a>

  <div class="block hero">
    <h1>I'm into Developing Solutions</h1>

    <img src="https://placehold.it/265x365" alt="">

    <div>
      <p>Here's what that means</p>
      <img src="https://placehold.it/20x10" alt="">
    </div>
  </div>



  {# intro #}
  <section class="block">
    <div class="container">
      <div class="content">
        <h2>Building a website isn’t always enough.</h2>
        <p>I offer strategy to accomplish your business or personal goals. Getting your clients, customers or users through the door is where I shine.</p>
        <p>From blogs to fully featured Shopify E-Commerce solutions, I have the experience to handle your request.</p>
      </div>
      <div class="image">
        <img src="https://placehold.it/700x630" alt="">
      </div>
    </div>
  </section>

  {# cta #}
  <section class="block">
    <container>
      <div class="content">
        <h2>Let's Make a Connection!</h2>
        <p>I’m ready to talk to you.</p>
        <p>All it takes is a message, and we will get your business moving.</p>
        <a href="/">@ Send a Message</a>
      </div>
      <div class="image"><img src="https://placehold.it/700x630" alt=""></div>
    </container>
  </section>

  {# services #}
  <section class="block">
    <div class="container">
      <h2>Building a website isn’t always enough.</h2>
      <div class="content">
        <h3>Custom Websites</h3>
        <p>I build websites based around the needs and goals of your chosen conversion, whether that be to sell a product, promote an event, or share your expertise with the world. My goal is to open my experience to you for the benefit of your business.</p>
        <p>I can build quickly and efficiently a static site that will represent your business, or add a dynamic content management system that will allow you to update your site and keep your content fresh.</p>
      </div>
      <div class="image">
        <img src="https://placehold.it/700x630" alt="">
      </div>
    </div>
    <div class="container">
      <div class="content">
        <h3>BRAND AND MARKETING CONSULTING</h3>
        <p>I build websites based around the needs and goals of your chosen conversion, whether that be to sell a product, promote an event, or share your expertise with the world. My goal is to open my experience to you for the benefit of your business.</p>
      </div>
    </div>
  </section>

<footer>
  <p>Copyright &copy; 2018 Brian Clark</p>
</footer>
{% endblock %}
