{% extends 'layouts/default' %}

{% block main %}

  {% include 'blocks/pageTitle' %}
  {% include 'blocks/pageIntro' %}

  {#  TODO: Add logolist for technologies I use #}
  <section class="block services ">
    {% for block in entry.services.all() %}
      <div class="container card">
        <div class="content rte">

          <h2>{{ block.serviceCategory }}</h2>
          <p>
            <ul>
              {% for service in block.serviceList %}
                <li>{{ service.service }}</li>
              {% endfor %}
            </ul>
          </p>
          {{ block.bodyText }}
        </div>
      </div>
    {% endfor %}
  </section>

{% endblock %}
