{% extends 'layouts/default' %}

{% block main %}

{% include 'blocks/pageTitle' %}
{% include 'blocks/pageIntro' %}

{#  TODO: Make Services Dynamic. Add logolist for technologies I use #}
<section class="block services ">
  <div class="container card">
    <div class="content rte">
      <div class="block">
        <h2>Web</h2>
        <ul>
          <li>Responsive Website Design and Development</li>
          <li>B2B and B2C E-Commerce Solutions</li>
          <li>Wireframing and Prototyping</li>
          <li>Web Hosting</li>
          <li>Domain Registration</li>
        </ul>

        <h3>Technologies I Use</h3>
        <ul>
          <li>Craft CMS</li>
          <li><a href="/services/shopify">Shopify Hosted E-Commerce</a></li>
        </ul>
      </div>

      <div class="block">
        <h2>Consulting</h2>
        <ul>
          <li>Brand Design and Marketing Strategy</li>
          <li>General Website Optimization</li>
          <li>Search Engine Optimization</li>
          <li>Pay Per Click and Digital Marketing</li>
        </ul>
      </div>

      <div class="block">
        <p>If you have any questions about the above services or would like to get a free estimate for your own business, please <a href="/contact">contact me</a>!</p>
      </div>

    </div>

  </div>
</section>


{% endblock %}
