<header class="site-header">
  <nav class="main-nav">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <nav class="contact-nav">
    <button class="contactToggle"><img src="/assets/img/icon-more-menu.svg"></button>
    <ul>
      <li><a href="mailto:me@iambrianclark.com"><img src="/assets/img/icon-envelope.svg" alt="Send an Email"></a></li>
      {# <li><a href="https://www.facebook.com/brian.clark.545" target="_blank"><img src="/assets/img/icon-facebook.svg" alt="Visit my facebook"></a></li> #}
      <li><a href="https://github.com/bgcbrianclark" target="_blank"><img src="/assets/img/icon-github.svg" alt="Check out my Github"></a></li>

      <li><a href="https://www.linkedin.com/in/brian-clark-a2474a11b/" target="_blank"><img src="/assets/img/icon-linkedin.svg" alt="Visit my linkedin"></a></li>
    </ul>
  </nav>
</header>
