<header class="site-header">
  <nav class="main-nav">
    <ul>
      <li><a href="/work">Work</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <nav class="contact-nav">
    <ul>
      <li><img src="/assets/img/icon-envelope.svg" alt="Send an Email"></li>
      <li><img src="/assets/img/icon-facebook.svg" alt="Visit my facebook"></li>
      <li><img src="/assets/img/icon-linkedin.svg" alt="Visit my linkedin"></li>
    </ul>
  </nav>
</header>
